<div>
  <div class="flex flex-col space-y-10">
    <h1 class="text-center"><%= @playlist.name.titleize%></h1>
  </div>

  <% @playlist.playlist_sections.each do |p_section|%>
    <div class="flex flex-col space-y-10">
      <div class="flex flex-col">
        <h2 class="text-center"><%= p_section.name.titleize %></h2>
      </div>
      <div class="flex flex-col space-y-10">
        <% p_section.playlist_items.each do |p_item|%>
          <div class="flex flex-col space-y-5">
            <h3 class="text-center"><%= "#{p_item.position}. #{p_item.song.title.titleize}" %></h3>
            <div class="flex flex-col space-y-2"><%= simple_format(p_item.song.content, class: "text-center") %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>