<h1><%= @playlist.name.titleize%></h1>

<ul>
  <% @playlist.playlist_sections.each do |p_section|%>
    <li>
      <h2><%= p_section.name.titleize %></h2>
      <ul>
        <% p_section.playlist_items.each do |p_item|%>
          <li>
            <h3><%= "#{p_item.position}. #{p_item.song.title.titleize}" %></h3>
            <p><%= simple_format p_item.song.content %></p>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>