<section>
  <h3><a href="#"><%= @song.title.titleize %></a></h3>
  <% @song.content.split("\n").each_slice(5) do |lines| %>
    <section>
      <p><%= raw lines.join("</br>") %></p>
    </section>
  <%end%>
</section>
