# PostgreSQL. Versions 10 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On OS X with Homebrew:
#   gem install pg -- --with-pg-config=/usr/local/bin/pg_config
# On OS X with MacPorts:
#   gem install pg -- --with-pg-config=/opt/local/lib/postgresql84/bin/pg_config
# On Windows:
#   gem install pg
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
#
# Configure Using Gemfile
# gem 'pg'
#
default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  # Prefer a full URL when provided (e.g., in Docker compose)
  url: <%= ENV['DATABASE_URL'] %>
  # Fallbacks if no DATABASE_URL
  host: <%= ENV.fetch('POSTGRES_HOST', 'localhost') %>
  username: <%= ENV.fetch('DB_USERNAME') { ENV.fetch('POSTGRES_USER', 'postgres') } %>
  password: <%= ENV.fetch('DB_PASS') { ENV.fetch('POSTGRES_PASSWORD', 'password') } %>
  database: holymusic_app_rails_development

test:
  <<: *default
  database: holymusic_app_rails_test

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>