@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinActiveColor: red;
$skinHeaderBck: orange;
$panelHeaderBck: black;

@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
#header h1.site_title {
  background-image: none;
  text-indent: -10px;
  padding: 0px 20px;
  color: $skinActiveColor;
  width: 100px;
  font-weight: bold;
}

// Ensure the ActiveAdmin header logo (site_title_image) is 50px tall
#header h1.site_title img {
  height: 30px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

li.select2-selection__choice{
  display: inline;
}